<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>unscripted.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>4</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>0211057993A2EA647DEC863A33502A70BE47162C</string>
				<key>dateExpires</key>
				<string>13/12/22</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0211057993A2EA647DEC863A33502A70BE47162C</string>
						<key>dateExpires</key>
						<string>13/12/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J48VG8QE3R</string>
						<key>name</key>
						<string>Scoopwhoop Media Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>5.4.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0211057993A2EA647DEC863A33502A70BE47162C</string>
						<key>dateExpires</key>
						<string>13/12/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J48VG8QE3R</string>
						<key>name</key>
						<string>Scoopwhoop Media Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0211057993A2EA647DEC863A33502A70BE47162C</string>
						<key>dateExpires</key>
						<string>13/12/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Branch.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J48VG8QE3R</string>
						<key>name</key>
						<string>Scoopwhoop Media Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>1.40.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0211057993A2EA647DEC863A33502A70BE47162C</string>
						<key>dateExpires</key>
						<string>13/12/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CHIPageControl.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J48VG8QE3R</string>
						<key>name</key>
						<string>Scoopwhoop Media Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>0.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>12.1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0211057993A2EA647DEC863A33502A70BE47162C</string>
						<key>dateExpires</key>
						<string>13/12/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBAEMKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J48VG8QE3R</string>
						<key>name</key>
						<string>Scoopwhoop Media Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0211057993A2EA647DEC863A33502A70BE47162C</string>
						<key>dateExpires</key>
						<string>13/12/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J48VG8QE3R</string>
						<key>name</key>
						<string>Scoopwhoop Media Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>12.1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0211057993A2EA647DEC863A33502A70BE47162C</string>
						<key>dateExpires</key>
						<string>13/12/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J48VG8QE3R</string>
						<key>name</key>
						<string>Scoopwhoop Media Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>12.1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0211057993A2EA647DEC863A33502A70BE47162C</string>
						<key>dateExpires</key>
						<string>13/12/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit_Basics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J48VG8QE3R</string>
						<key>name</key>
						<string>Scoopwhoop Media Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>12.1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0211057993A2EA647DEC863A33502A70BE47162C</string>
						<key>dateExpires</key>
						<string>13/12/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKLoginKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J48VG8QE3R</string>
						<key>name</key>
						<string>Scoopwhoop Media Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>12.1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0211057993A2EA647DEC863A33502A70BE47162C</string>
						<key>dateExpires</key>
						<string>13/12/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKShareKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J48VG8QE3R</string>
						<key>name</key>
						<string>Scoopwhoop Media Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0211057993A2EA647DEC863A33502A70BE47162C</string>
						<key>dateExpires</key>
						<string>13/12/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J48VG8QE3R</string>
						<key>name</key>
						<string>Scoopwhoop Media Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>8.9.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0211057993A2EA647DEC863A33502A70BE47162C</string>
						<key>dateExpires</key>
						<string>13/12/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J48VG8QE3R</string>
						<key>name</key>
						<string>Scoopwhoop Media Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>8.9.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0211057993A2EA647DEC863A33502A70BE47162C</string>
						<key>dateExpires</key>
						<string>13/12/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreDiagnostics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J48VG8QE3R</string>
						<key>name</key>
						<string>Scoopwhoop Media Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>8.9.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0211057993A2EA647DEC863A33502A70BE47162C</string>
						<key>dateExpires</key>
						<string>13/12/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCrashlytics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J48VG8QE3R</string>
						<key>name</key>
						<string>Scoopwhoop Media Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>8.9.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0211057993A2EA647DEC863A33502A70BE47162C</string>
						<key>dateExpires</key>
						<string>13/12/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J48VG8QE3R</string>
						<key>name</key>
						<string>Scoopwhoop Media Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>8.9.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0211057993A2EA647DEC863A33502A70BE47162C</string>
						<key>dateExpires</key>
						<string>13/12/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMAppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J48VG8QE3R</string>
						<key>name</key>
						<string>Scoopwhoop Media Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0211057993A2EA647DEC863A33502A70BE47162C</string>
						<key>dateExpires</key>
						<string>13/12/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J48VG8QE3R</string>
						<key>name</key>
						<string>Scoopwhoop Media Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>1.7.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0211057993A2EA647DEC863A33502A70BE47162C</string>
						<key>dateExpires</key>
						<string>13/12/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J48VG8QE3R</string>
						<key>name</key>
						<string>Scoopwhoop Media Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>9.1.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0211057993A2EA647DEC863A33502A70BE47162C</string>
						<key>dateExpires</key>
						<string>13/12/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleSignIn.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J48VG8QE3R</string>
						<key>name</key>
						<string>Scoopwhoop Media Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>6.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0211057993A2EA647DEC863A33502A70BE47162C</string>
						<key>dateExpires</key>
						<string>13/12/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J48VG8QE3R</string>
						<key>name</key>
						<string>Scoopwhoop Media Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>7.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0211057993A2EA647DEC863A33502A70BE47162C</string>
						<key>dateExpires</key>
						<string>13/12/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J48VG8QE3R</string>
						<key>name</key>
						<string>Scoopwhoop Media Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>6.5.9</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0211057993A2EA647DEC863A33502A70BE47162C</string>
						<key>dateExpires</key>
						<string>13/12/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>JEKScrollableSectionCollectionViewLayout.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J48VG8QE3R</string>
						<key>name</key>
						<string>Scoopwhoop Media Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>1.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0211057993A2EA647DEC863A33502A70BE47162C</string>
						<key>dateExpires</key>
						<string>13/12/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Kingfisher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J48VG8QE3R</string>
						<key>name</key>
						<string>Scoopwhoop Media Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>7.1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0211057993A2EA647DEC863A33502A70BE47162C</string>
						<key>dateExpires</key>
						<string>13/12/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Moya.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J48VG8QE3R</string>
						<key>name</key>
						<string>Scoopwhoop Media Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>15.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0211057993A2EA647DEC863A33502A70BE47162C</string>
						<key>dateExpires</key>
						<string>13/12/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Sentry.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J48VG8QE3R</string>
						<key>name</key>
						<string>Scoopwhoop Media Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>6.2.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0211057993A2EA647DEC863A33502A70BE47162C</string>
						<key>dateExpires</key>
						<string>13/12/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftMessages.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J48VG8QE3R</string>
						<key>name</key>
						<string>Scoopwhoop Media Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>9.0.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0211057993A2EA647DEC863A33502A70BE47162C</string>
						<key>dateExpires</key>
						<string>13/12/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J48VG8QE3R</string>
						<key>name</key>
						<string>Scoopwhoop Media Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>2.30908.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>J48VG8QE3R.com.scoopWhoopMediaPvtLtd.unscripted.ios</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.applesignin</key>
				<array>
					<string>Default</string>
				</array>
				<key>com.apple.developer.associated-domains</key>
				<array>
					<string>applinks:unscriptednews.app.link</string>
					<string>applinks:unscriptednews-alternate.app.link</string>
					<string>applinks:unscriptednews.test-app.link</string>
					<string>applinks:unscriptednews-alternate.test-app.link</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>J48VG8QE3R</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>unscripted.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>988b14ab-35c4-43ab-8355-a633a2c31e54</string>
				<key>dateExpires</key>
				<string>13/12/22</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.scoopWhoopMediaPvtLtd.unscripted.ios</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>J48VG8QE3R</string>
				<key>name</key>
				<string>Scoopwhoop Media Private Limited</string>
			</dict>
			<key>versionNumber</key>
			<string>1.1</string>
		</dict>
	</array>
</dict>
</plist>
